* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #4c1dd2;
  color: #fff;
  position: relative;
  font-family: "Roboto", sans-serif;
}

.container {
  position: relative;
  padding: 0 15px;
  height: 100%;
  padding-bottom: 100px;
}

header {
  // position: absolute;
  width: 100%;
  margin-top: 60px;

  .nav__logo {
    margin-right: 20px;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .nav__menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .nav__menu ul {
      display: flex;
      list-style: none;
      a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
        padding: 5px 15px;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
    .nav__contacts {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    span {
      padding: 10px 20px;
      margin: 0 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 300;
    }
    .nav__whatsapp {
      background-color: #4f15f3;
      font-size: 17px;
      border-radius: 9px;

      a {
        color: #fff;
        text-decoration: none;
        padding: 5px 15px;
        font-size: 17px;
        text-transform: capitalize;
        font-weight: 400;
      }
    }
  }
}
// ----------BACKGROUND IMAGES-----------

.bg-lines {
  position: absolute;
  display: flex;
  height: 100%;
  //   width: 100%;
  justify-content: space-between;
  z-index: -10;
  left: 40px;
  right: 40px;
  top: -60px;
}

.bg-bubble-one {
  position: absolute;
  top: 10px;
  z-index: -8;
}
.bg-bubble-two {
  position: absolute;
  z-index: -10;
  top: 223px;
  left: 839px;
}

.bg-ellipse {
  position: absolute;
  top: 274px;
  left: 978px;
}
.bg-plus-one {
  position: absolute;
  top: 172px;
  left: 162px;
}
.bg-plus-two {
  position: absolute;
  height: 9px;
  width: 9px;
  left: 241px;
  top: 756px;
  border-radius: 0px;
}
.bg-plus-three {
  position: absolute;
  left: 1012px;
  top: 449px;
  z-index: 10;
}

// ----------END OF BACKGROUND IMAGES-----------
.girl__dots {
  position: absolute;
  top: -50px;
  right: -50px;
  z-index: -5;
}

.section-two {
  position: absolute;
  top: 234px;
  left: 1115px;
  background-color: #f86161;

  height: 598px;
  width: 445px;
  border-radius: 59px;
  z-index: 2;

  .badge {
  }

  .girl__icon {
    height: 50px;
    width: 50px;
    background-color: #f6f4fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .girl__clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 189px;
    width: 159px;
    left: -65px;
    top: -40px;
    border-radius: 21px;
    background-color: #121b30;
    .badge__title {
      font-size: 22px;
      font-weight: 400;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    .badge__subtitle {
      font-size: 12px;
      font: 400;
      padding: 0 15px;
    }

    p {
      text-align: center;
    }
  }

  .girl__pie-chart {
    position: absolute;
    right: -170px;
    top: 220px;
    border-radius: 21px;
    background-color: #121b30;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 99px;

    .girl__icon {
      float: left;
      width: 30%;
      box-sizing: border-box;
      position: relative;
      height: 50px;
      width: 50px;
    }
    .badge__txt {
      float: left;
      width: 70%;
      box-sizing: border-box;
      padding-left: 10px;
      .badge__title {
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .badge__subtitle {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  .girl__line-graph {
    position: absolute;
    z-index: 5;
    left: 190px;
    bottom: -100px;
    img {
      border-radius: 18px;
      box-sizing: border-box;

      width: 326px;
      height: 301px;
    }
  }

  .girl__girl {
    height: 680px;
    width: 527px;
    border-radius: 0px;

    position: absolute;

    bottom: 0px;
    right: -20px;
    z-index: 4;
  }

  .girl__triangle {
    position: absolute;
    z-index: 5;
    bottom: 25px;
    left: -25px;
  }
}
.section-one {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 327px;
  left: 360px;

  .idea__txt {
    letter-spacing: 2px;
  }

  .idea__title {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .idea__title_under {
    font-weight: 300;
    margin-bottom: 15px;
  }

  .idea__subtitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
  }
}

input {
  outline: none;
  margin-top: 25px;
  overflow: visible;
}
input:first-child::placeholder {
  color: #bcbcbc;
  font-size: 18px;
  align-self: center;
}
input:first-child {
  margin-right: 20px;
  padding-left: 15px;
  border-radius: 12px;
  border: none;
  width: 284px;
  height: 56px;
}
input:nth-child(2) {
  color: #fff;
  background-color: #f86161;
  // padding: 20px 65px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  width: 335px;
  height: 56px;
  cursor: pointer;
}

.idea__input {
  display: flex;
}

// -----------RESPONSIVNESS---------
@media screen and (max-width: 1200px) {
  .section-two {
    top: 234px;
    left: 915px;
  }
  .section-one {
    top: 327px;
    left: 230px;
  }
  header {
    width: 100%;
  }
  .nav {
    flex-direction: column;
    margin: 20px auto;
  }
  .nav__contacts {
    margin-top: 20px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
  }
  body {
    position: relative;
  }
  .section-two {
    top: 350px;
    left: 100px;
  }

  .section-one {
    left: 100px;
    top: 1200px;
  }
  .bg {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    flex-wrap: wrap;
    .nav {
      flex-wrap: wrap;
    }
    .nav__contacts {
      margin: 20px 0;
      width: max-content;
    }
  }

  .section-one {
    left: 25px;
    width: 100%;
  }
}
